@use '../Master.scss';

#header {
  min-height: 100vh;
  width: 100%;
  position: fixed;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: yellow;
}

.body2 {
    min-height: 100vh;
}