<link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">

<div id="header">
   <h1>{{pokemon.name}}</h1>
</div>

<!--Display Pokemon as Card-->
<div class="col-md-4 mb-2">
    <div class="card">
      <div class="card-body d-flex flex-row justify-content-between align-items-center">
         <div class="image mb-2">
              <img src="{{pokemon.imgURL}}" alt="">
         </div&gt;
         <div class="details">
            <div class="footer d-flex flex-row justify-content-between align-items-center">
               {% for type in pokemon.types%}
                  <h6>{{type}}</h6>
               {% endfor %}      
           </div>
        </div>
      </div>
    </div>
</div&gt;